In [1]:
#importing library

import pandas as pd
import numpy as np

In [2]:
#reading datasets

df_DC_Properties = pd.read_csv('DataAnalytics\DataSets\DC_Properties.csv')
#dtype={'NUM_UNITS':int,'AYB': int, 'YR_RMDL':int, 'STORIES': int,'KITCHENS': int,'ZIPCODE':int  }
df_DC_Properties=df_DC_Properties.fillna(0)
df_DC_Properties=df_DC_Properties.astype(dtype={'NUM_UNITS':int,'AYB': int, 'YR_RMDL':int, 'STORIES': int,'KITCHENS': int,'ZIPCODE':int  })

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_DC_Properties.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS               int32
ROOMS                   int64
BEDRM                   int64
AYB                     int32
YR_RMDL                 int32
EYB                     int64
STORIES                 int32
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS                int32
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE                 int32
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [4]:
# Houses per ZIP code

pd.value_counts(df_DC_Properties['ZIPCODE'])

20011    16352
20002    16310
20009    13171
20019    12458
20016    10644
20001    10549
20020     9805
20007     9029
20003     8015
20008     6801
20010     6428
20018     5670
20017     5622
20015     5337
20032     5111
20012     4118
20037     3730
20005     3404
20024     3105
20036     1892
20004     1082
20392      186
20006      118
20052       19
0            1
Name: ZIPCODE, dtype: int64

In [5]:
## Find duplicate rows

df_DC_Properties.loc[df_DC_Properties.duplicated()]

# No duplicate records found

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [6]:
#drop the coloumn which has no reference

df_DC_Properties=df_DC_Properties.drop('Unnamed: 0',axis=1)

In [7]:
#Drop rows with out any value

df_DC_Properties=df_DC_Properties.dropna()

In [8]:
#clean the ZIP Code data
df_DC_Properties['ZIPCODE'] = np.where(df_DC_Properties['ZIPCODE']==0, '20009',df_DC_Properties['ZIPCODE'])
df_DC_Properties=df_DC_Properties.astype(dtype={'ZIPCODE':int  })

In [32]:
#Median price per Zip Code
#df_DC_Properties['PRICE'].median()
#df_DC_Properties['PRICE'].groupby(df_DC_Properties['ZIPCODE']).median()
df_DC_Properties['PRICE'].groupby(df_DC_Properties['ZIPCODE']).mean().round()

ZIPCODE
20001     380499.0
20002     301602.0
20003     391474.0
20004     393378.0
20005    2255303.0
20006     114556.0
20007     595085.0
20008     518559.0
20009     455009.0
20010     334356.0
20011     230416.0
20012     234874.0
20015     433471.0
20016    3591286.0
20017     201099.0
20018     202262.0
20019     127016.0
20020     124276.0
20024     275390.0
20032     179547.0
20036     264867.0
20037     420841.0
20052     198158.0
20392     240115.0
Name: PRICE, dtype: float64

In [33]:
#Number of houses having AC
pd.value_counts(df_DC_Properties['AC'])

Y    114620
N     44272
0        65
Name: AC, dtype: int64

In [34]:
#Clean AC column value
df_DC_Properties['AC'] = np.where(df_DC_Properties['AC']=='0','N',df_DC_Properties['AC'])
pd.value_counts(df_DC_Properties['AC'])

Y    114620
N     44337
Name: AC, dtype: int64

In [35]:
#Median year when was AC was normal in the houses in DC

df_DC_Properties['EYB'].groupby(df_DC_Properties['AC']).median()

AC
N    1954
Y    1967
Name: EYB, dtype: int64

In [36]:
df_DC_Properties['ROOMS'].groupby(df_DC_Properties['EYB']).median()

EYB
1800    5.0
1820    3.5
1865    3.0
1870    5.0
1875    5.0
1876    4.5
1880    5.0
1885    3.0
1886    4.0
1887    4.0
1890    3.0
1891    2.0
1893    4.0
1895    3.0
1898    4.0
1899    2.0
1900    4.0
1901    3.0
1902    3.0
1903    3.0
1904    5.0
1905    4.0
1906    4.0
1907    4.0
1908    4.0
1909    4.0
1910    4.0
1911    4.0
1912    4.0
1913    3.0
       ...
1989    4.0
1990    6.0
1991    5.0
1992    8.0
1993    8.0
1994    6.0
1995    7.0
1996    8.0
1997    8.0
1998    7.0
1999    8.0
2000    8.0
2001    7.0
2002    4.0
2003    4.0
2004    4.0
2005    4.0
2006    4.0
2007    4.0
2008    4.0
2009    5.0
2010    7.0
2011    6.0
2012    7.0
2013    5.0
2014    6.0
2015    6.0
2016    4.0
2017    7.0
2018    8.0
Name: ROOMS, Length: 135, dtype: float64

In [ ]:
#Number of houses in a range of Year

bins = np.arange(df_DC_Properties.EYB.min(),df_DC_Properties.EYB.max()+20, 20)
groups =np.arange(df_DC_Properties.EYB.min(),df_DC_Properties.EYB.max(), 20)
df_DC_Properties['Year Range']= pd.cut(df_DC_Properties['EYB'],bins, labels=groups)
pd.value_counts(df_DC_Properties['Year Range']).sort_index()

#inference: More number of houses were built in 1960 to 1980

In [ ]:
df_DC_Properties.plot.bar(x='EYB', y='ROOMS', rot=0)